*.7z
*.app
*.bak
*.class
*.diff
*.dmg
*.err
*.exe
*.gz
*.iso
*.jar
*.log
*.patch
*.rar
*.rbuistate
*.swp
*.tar
*.tgz
*.vi
*.vim
*.zip
.DS_Store
.Spotlight-V100
.Trashes
._*
/BNCSUtil.dll
/BNCSutil.dll
/BNRBot.dat
/BNRBot\ Libs/
/Builds - BNRBot.rbvcp/
/CheckRevision.dll
/DebugBNRBot/
/Hashes/
/License.dat
/bin/
/bncsutil.dll
Thumbs.db
