*.7z
*.app
*.bak
*.class
*.diff
*.dmg
*.err
*.exe
*.gz
*.iso
*.jar
*.log
*.patch
*.rar
*.swp
*.tar
*.vi
*.vim
*.zip
.DS_Store
.Spotlight-V100
.Trashes
._*
Builds - BNRBot.rbvcp/
Thumbs.db
