*.7z
*.app
*.bak
*.class
*.diff
*.dmg
*.err
*.exe
*.gz
*.iso
*.jar
*.log
*.patch
*.rar
*.swp
*.tar
*.vi
*.vim
*.zip
.DS_Store
.Spotlight-V100
.Trashes
._*
/BNRBot.dat
/BNRBot\ Libs/
/Builds - BNRBot.rbvcp/
/DebugBNRBot/
/Hashes/
/License.dat
/bin/
Thumbs.db
